<img src="../public/assets/image/burger.jpg">
<h1>The Burger App</h1>
<div class="burger-display">
    <div class="waiting">
      <div>

      </div>
      <div>
         <button>Devour!!</button>
      </div>
    </div>
    <div class="devoured">

    </div>
</div>
<textarea type="text" name="burger" placeholder="type your burger here"></textarea>
<button type="submit">Submit</button>
